<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chuck" data-view="Text" data-title="Team Facts" data-moreinfo="Team Member Facts.">
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jiraAllIssues" data-view="Number" data-title="All Issues"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jiraInProgressIssues" data-view="Number" data-title="Open Issues"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1.5" data-sizey="1">
      <div data-id="jenkinsBuildStatus" data-view="JenkinsBuildStatus" data-title="Jenkins"></div>
    </li>        
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bigProject" data-view="JenkinsBuild" data-title="Big Project" data-description="" data-min="100" data-max="100"></div>
    </li>    
  </ul>
</div>